{% extends '../../sat/private/base-dashboard.html' %}

{% load static %}
{% block script %}
    <script src = "{% static 'encuesta/index/index.js' %}"></script>
    <script src="{% static 'encuesta/lib/cookie.min.js' %}" defer></script>
{% endblock %}

{% block encabezado %}
<div class="container-fluid px-4">
    <div class="page-header-content">
        <div class="row align-items-center justify-content-between pt-3">
            <div class="col-auto mt-2 mb-3">
                <h1 class="page-header-title">
                    <div class="page-header-icon"><i data-feather="list"></i></div>
                    {% if user.groups.first.name == 'PACIENTE' %}
                    Mis Encuestas
                    {% else %}
                    Lista de Encuestas
                    {% endif %}
                </h1>
            </div>
            {% if not user.groups.first.name == 'PACIENTE' %}
            <div class="col-12 col-xl-auto mb-3">
                <div>
                    <button class="btn btn-primary btn-sm ms-2" alt = "Blank form" id="create-blank-form">
                    <span class="form-template-label">Agregar Encuesta</span>
                
                    <button class="btn btn-info btn-sm ms-2" alt = "Contact Information" id="create-contact-form">
                    <span class="form-template-label">Información de Contacto</span>
                
                    <button class="btn btn-info btn-sm ms-2" alt = "Customer Feedback" id="create-customer-feedback">
                    <span class="form-template-label">Feedback del Paciente</span>
                
                    <button class="btn btn-info btn-sm ms-2" alt = "Event Registration" id="create-event-registration">
                    <span class="form-template-label">Registro de Evento</span>
                </div>
            </div>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}

{% block contenido %}
{% if messages %}
    {% for message in messages %}
        {% if message.tags == 'success' %}
            <div class="alert alert-success" role="alert">
                <p class="text-center">{{message}}</p>
            </div>
        {% elif message.tags == 'error' %}
            <div class="alert alert-danger" role="alert">
                <p class="text-center">{{message}}</p>
            </div>
        {% else %}
            <div class="alert alert-info" role="alert">
                <p class="text-center">{{message}}</p>
            </div>
        {% endif %}
    {% endfor %}
{% endif %}
<div class="container-fluid px-4">
    <div class="card">
        <div class="table-responsive">
        {% if forms %}
            <table id="datatablesSimple" style="margin: 1.5rem;">
                <thead class="text-primary text-center">
                    <tr>
                        <th style="width:245px;">Título</th>
                        <th style="width:285px;">Última Modificación</th>
                        <th>Estado</th>
                        <th style="width:180px;">Creada Por</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody class="text-center small">
                    {% for i in forms %}
                    <tr>
                        <td>{{i.title}}</td>
                        <td>
                            {% if i.createdAt == i.updatedAt %}
                                {{i.createdAt}}
                            {% else %}
                                {{i.updatedAt}}
                            {% endif %}
                        </td>
                        {% if not user.groups.first.name == 'PACIENTE' %}
                            {% if i.status == 'b' %}
                            <td class="badge bg-primary text-white rounded-pill">Borrador
                            {% else %}
                            <td class="badge bg-secondary text-white rounded-pill">Publicada
                            {% endif %}
                        </td>
                        {% else %}
                            {% for encuesta_respondida in encuestas_respondidas %}
                                {% if i.id == encuesta_respondida.encuesta_id or i.id == encuesta_respondida %}
                                    {% if encuesta_respondida.estado == 'b' %} 
                                    <td class="badge bg-warning text-white rounded-pill">En Proceso
                                    {% elif encuesta_respondida.estado == 'p' %} 
                                    <td class="badge bg-success text-white rounded-pill">Envíada
                                    {% else %}
                                    <td class="badge bg-danger text-white rounded-pill">Por Hacer
                                    {% endif %}
                                {% endif %}
                            {% endfor %}
                        </td>
                        {% endif %}
                        <td>
                            {% if i.medicocreaencuesta_set.first %}
                                {{ i.medicocreaencuesta_set.first }}
                            {% else %}
                                ADMIN
                            {% endif %}
                        </td>
                        <td class="d-flex justify-content-center">
                        {% if user.groups.first.name == 'PACIENTE' %}
                            {% for encuesta_respondida in encuestas_respondidas %}
                                {% if encuesta_respondida.encuesta_id == i.id or encuesta_respondida == i.id %}
                                    {% if encuesta_respondida.estado == 'p' %}
                                        {% for r in responses %}
                                            {% if r.response_to_id == i.id %}
                                            <a class="text-secondary small" href="{% url 'response' i.code r.response_code %}" title="Ver Respuestas">Ver</a>
                                            {% endif %}
                                        {% endfor %}
                                    {% elif encuesta_respondida.estado == 'b' %}
                                        {% for r in responses %}
                                            {% if r.response_to_id == i.id %}
                                            <a class="text-warning small" href="{% url 'edit_response' i.code r.response_code %}" title="Editar Respuestas">Editar</a>
                                            {% endif %}
                                        {% endfor %}
                                        <a class="text-success small" href="{% url 'publish_encuesta' i.code %}" title="Publicar">Publicar</a>
                                    {% else %}
                                        <a class="text-danger small" href="{% url 'complete_encuesta' i.code %}" title="Completar">Completar</a>
                                    {% endif %}
                                {% endif %}
                            {% endfor %}
                        {% else %}
                            {% if i.status == 'b' %}
                                {% if not user.is_staff and i.medicocreaencuesta_set.all or user.is_staff and not i.medicocreaencuesta_set.all %}
                                <a class="text-warning small" href="{% url 'edit_encuesta' i.code %}" title="Editar">Editar</a>
                                <a class="text-success small" href="{% url 'publish_encuesta' i.code %}" title="Publicar">Publicar</a>
                                <a class="text-danger small" href="{% url 'delete_form' i.code %}" title="Eliminar">Eliminar</a>
                                {% else %}
                                <a class="text-secondary small" href="{% url 'view_encuesta' i.code %}" title="Ver">Ver</a>
                                {% endif %}
                            {% else %}
                                <a class="text-secondary small" href="{% url 'view_encuesta' i.code %}" title="Ver">Ver</a>
                                <a class="text-info small" href="{% url 'responses' i.code %}" title="Ver Respuestas">Respuestas</a>
                                {% if not user.is_staff and i.medicocreaencuesta_set.all or user.is_staff and not i.medicocreaencuesta_set.all %}
                                <a class="text-dark small" href="{% url 'unpublish_encuesta' i.code %}" title="Pasar a Borrador">Pasar a Borrador</a>
                                <a class="text-primary small" href="{% url 'reassign_encuesta' i.code %}" title="Reasignar">Reasignar</a>
                                <a class="text-danger small" href="{% url 'delete_form' i.code %}" title="Eliminar">Eliminar</a>
                                {% endif %}
                            {% endif %}
                        {% endif %}
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% else %}
        <p>No hay encuestas registradas...</p>
        {% endif %}
        </div>
    </div>
</div>
{% endblock %}