{% extends '../../sat/private/base-dashboard.html' %}

{% load static %}
{% load get_response %}
{% load to_int %}
{% load is_response %}
{% load score %}
{% block script %}
    <script src="{% static 'encuesta/index/response.js' %}"></script>
{% endblock %}

{% block encabezado %}
<div class="container-fluid px-4">
    <div class="page-header-content">
        <div class="row align-items-center justify-content-between pt-3">
            <div class="col-auto mb-3">
                <h1 class="page-header-title">
                <div class="page-header-icon"><i data-feather="check-square"></i></div>
                    Respuestas
                </h1>
            </div>
            <div class="col-12 col-xl-auto mb-3">
                <a class="btn btn-sm btn-light text-primary" href="{% url 'list_encuestas' %}">
                    <i class="me-1" data-feather="arrow-left"></i>
                    Volver a Lista de Encuestas
                </a>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block contenido %}
<div class="container-fluid">
    <div class="container">
        <span id="bg-color" style="display: none;">{{form.background_color}}</span>
        <span id="text-color" style="display: none;">{{form.text_color}}</span>
        <div class="card mb-4">
            <div class="margin-top-bottom box question-box">
                <div class="card-header">
                    <div class="form-title-box">
                        <h1 class="form-title txtClr">{{form.title}}</h1>
                        {% if form.is_quiz %}
                        <h4 class="score-title">Puntos: {{score}} / {{total_score}}</h4>
                        {% endif %}
                        <p class="required-info">(*) Campos Obligatorios</p>
                    </div>
                </div>
                <div class="card-body">
                    <div class="form-description txtClr">{{form.description|linebreaksbr}}</div>
                </div>
            </div>
        </div>

        {% if form.collect_email %}
        <div class="margin-top-bottom box question-box">
            <div class="card mb-4">
                <div class="card-header question-title txtClr">
                    Correo electrónico: <span class="require-star">*</span>
                </div>
                <div class="card-body">
                    <p class="short-answer">{{response.responder_email}}</p>
                </div>
            </div>
        </div>
        {% endif %}

        {% for question in form.questions.all %}
        <div class="margin-top-bottom box question-box">
            <div class="card mb-4">
                <div class="card-header">
                    <h1 class="response-title txtClr">{{question.question}} {% if question.required %}<span class="require-star">*</span>{% endif %}
                    {% if form.is_quiz %}<span class="float-right">{{response|score:question.pk}} / {{question.score}}</span>{% endif %}</h1>
                </div>
                <div class="card-body">
                    {% if question.question_type == "short" %}
                        <p class="short-answer">{{response|get_response:question.pk}}</p>
                    {% elif question.question_type == "paragraph" %}
                        <p class="long-answer">{{response|get_response:question.pk|linebreaksbr}}</p>
                    {% elif question.question_type == "checkbox" %}
                        {% for choice in question.choices.all %}
                        <div class="checkbox">
                            {% if response|get_response:question.pk|to_int == choice.pk|to_int %}
                                <input type="radio" name="{{question.id}}" id="{{choice.id}}" checked>
                            {% else %}
                                <input type="radio" name="{{question.id}}" id="{{choice.id}}" disabled>
                            {% endif %}
                            <label for="{{choice.id}}" class="txtClr">{{choice.choice}}</label>
                        </div>
                        {% endfor %}
                    {% elif question.question_type == "multiple choice" %}
                        {% for choice in question.choices.all %}
                        <div class="multiple-choice">
                            {% if response|get_responses:question.pk|is_response:choice.pk %}
                                <input type="checkbox" name="{{question.id}}" id="{{choice.id}}" value="{{choice.id}}" checked onclick="return false">
                            {% else %}
                                <input type="checkbox" name="{{question.id}}" id="{{choice.id}}" value="{{choice.id}}" disabled>
                            {% endif %}
                            <label for="{{choice.id}}" class="txtClr">{{choice.choice}}</label>
                        </div>
                        {% endfor %}
                    {% endif %}
                    {% if user != form.creator and question.feedback != None and question.feedback != "" %}
                        <div class="feedback">
                            <h5 class="feedback-title">Comentarios:</h5>
                            <p class="text-label long-answer">{{question.feedback|linebreaksbr|urlize}}</p>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}