{% extends '../../sat/private/base-dashboard.html' %}
{% load static %}
{% block script %}
    <script src="{% static 'encuesta/index/viewform.js' %}" defer></script>
    <script src = "{% static 'encuesta/index/index.js' %}" defer></script>
    <script src="{% static 'encuesta/lib/cookie.min.js' %}" defer></script>
{% endblock %}

{% block encabezado %}
<div class="container-fluid px-4">
    <div class="page-header-content">
        <div class="row align-items-center justify-content-between pt-3">
            <div class="col-auto mb-3">
                <h1 class="page-header-title">
                    <div class="page-header-icon"><i data-feather="eye"></i></div>
                    {{form.title}}
                </h1>
            </div>
            <div class="col-12 col-xl-auto mb-3">
                <a class="btn btn-sm btn-light text-primary" href="{% url 'list_encuestas'%}">
                    <i class="me-1" data-feather="arrow-left"></i>
                    Volver a la Lista de Encuestas
                </a>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block contenido %}
<div class="container-fluid px-4">
    <form class="container">
        <span id="bg-color" style="display: none;">{{form.background_color}}</span>
        <span id="text-color" style="display: none;">{{form.text_color}}</span>
        <div class="margin-top-bottom box question-box">
            <div class="card mb-4">
                <div class="card-header">
                    <div class="form-title-box">
                        <h1 class="form-title txtClr">{{form.title}}</h1>
                        <p class="required-info">(*) Campos Obligatorios</p>
                    </div>
                </div>
                <div class="card-body">
                    <div class="form-description txtClr">{{form.description|linebreaksbr}}</div>
                </div>
            </div>
        </div>
        {% for question in form.questions.all %}
        <div class="margin-top-bottom box question-box">
            <div class="card mb-4">
                <div class="card-header">
                    <h1 class="question-title txtClr">{{question.question}} {% if question.required %}<span class="require-star">*</span>{% endif %}</h1>
                </div>
                <div class="card-body">
                    {% if question.question_type == "short" %}
                        <input type="text" name="{{question.id}}" class="short-answer form-control" placeholder = "Ingrese una respuesta breve" {% if question.required %} required {% endif %} disabled>
                    {% elif question.question_type == "paragraph" %}
                        <textarea name="{{question.id}}" placeholder="Ingrese una respuesta a desarrollar" id="textarea-adjust" class="long-answer form-control" {% if question.required %} required {% endif %} disabled></textarea>
                    {% elif question.question_type == "checkbox" %}
                        {% for choice in question.choices.all %}
                        <div class="checkbox">
                            <input type="radio" name="{{question.id}}" id="{{choice.id}}" {% if question.required %} required {% endif %} value="{{choice.id}}" disabled>
                            <label for="{{choice.id}}" class="txtClr">{{choice.choice}}</label>
                        </div>
                        {% endfor %}
                    {% elif question.question_type == "multiple choice" %}
                        {% for choice in question.choices.all %}
                        <div class="multiple-choice">
                            <input type="checkbox" name="{{question.id}}" id="{{choice.id}}" {% if question.required %} required {% endif %} value="{{choice.id}}" disabled>
                            <label for="{{choice.id}}" class="txtClr">{{choice.choice}}</label>
                        </div>
                        {% endfor %}
                    {% endif %}
                </div>
            </div>
        </div>
        {% endfor %}
    </form>
</div>
{% endblock %}