<div class="row gx-3 mb-3">
{% if form.userForm %}
{% for campo in form.userForm %}
    <div class="form-group col-md-6 text-center mb-3">
        <label class="small mb-1 fw-bold" for="">{{campo.label}}</label>
        {{campo}}
        <div class="small mb-1 error">{{campo.errors}}</div>
        {% if campo.name == "password1" %}
        <p class="small lh-sm fw-light text-center mb-n2">Debe tener al menos 8 dígitos y<br>no estar asociada a los datos ingresados</p>
        {% elif campo.name == "username" %}
        <p class="small lh-sm fw-light text-center mb-n2">Puede contener únicamente letras,<br>números y los caracteres @/./+/-/_.<br>No puede contener espacios.</p>
        {% endif %}
    </div>
{% endfor %}
{% endif %}

{% if form.usuarioForm %}
{% for campo in form.usuarioForm %}
    <div class="form-group col-md-6 text-center mb-3">
        <label class="small mb-1 fw-bold" for="">{{campo.label}}</label>
        {{campo}}

        <div class="small mb-1 error">{{campo.errors}}</div>
    </div>
{% endfor %}
{% endif %}
</div>